<%- include('helpers/header', { user, b: false }); %>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <p class="title is-3 has-text-white">Fil d'actualité</p>
          <div class="container">
            <% if (articles.length === 0) { %>
              <p class="subtitle is-4 has-text-white">Aucun article.</p>
            <% } %>
            <% articles.sort((a, b) => b.createdAt - a.createdAt).forEach(article => { %>
              <%- include('helpers/articleCard', { article }); %>
            <% }) %>
          </div>
        </div>
      </div>
    </section>
<%- include('helpers/footer.ejs') %>