<%- include('helpers/header'); %>
    <section class="section">
      <p class="title is-3 has-text-white">Fil d'actualité</p>
      <div class="container">

      <% articles.forEach(article => { %>
        <%- include('helpers/articleCard', { article }); %>
      <% }) %>
        
      </div>
    </section>
<% include('helpers/footer.ejs') %>