<%- include('helpers/header', { user, b: false }); %>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-background-white p-4 radius">
				<% if (messages && messages.error) { %>
					<div class="notification is-danger mr-3 ml-3">
						<%=messages.error%>
					</div>
				<% } %>
				<% if (messages && messages.success) { %>
					<div class="notification is-success mr-3 ml-3">
						<%=messages.success%>
					</div>
				<% } %>
				<form action="/login" method="POST">
					<div class="field">
						<label class="label">Nom d'utilisateur</label>
						<div class="control">
							<input id="username" name="username" class="input" type="text" required>
						</div>
					</div>
					
					<div class="field">
						<label class="label">Mot de passe</label>
						<div class="control">
							<input id="password" name="password" class="input" type="password" required>
						</div>
					</div>
	
					<div class="control">
						<button type="submit" class="button is-primary">Se connecter</button>
						<a href="/signin" class="button is-primary is-light">S'inscrire</a>
					</div>
				</form>
			</div>
    </div>
  </section>
<%- include('helpers/footer.ejs') %>