
  <footer class="footer has-background-black-ter">
    <div class="content has-text-centered has-text-white">
      <strong class="has-text-white">UrTxt</strong> par <a>Samuel L</a> et <a>Thomas H</a>. Site web présenté dans le cadre d'un projet scolaire. Le projet est également open-source, disponible sur <a href="https://github.com/CallMeMrSam/ProjetSIN_WEBSITE">GitHub</a>
    </div>
    <div class="content has-text-centered has-text-white">
      <strong class="has-text-white">CSS</strong> par <a href="https://www.bulma.io">Bulma</a>.
    </div>
  </footer>
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>